<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--查询委托间隔时间-->
    <add key="QueryAuthroizeIntervalSecond" value="1"/>
    <!--结算时间-->
    <add key="CloseAccountTime" value="17:30:00" />
    <!--刷新数据时间-->
    <add key="RefreshDataTime" value="19:00:00" />
    <!--持仓同步周期 单位（秒）-->
    <add key="SyncInterval" value="5" />

  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.31.197;Initial Catalog=AssetsManagement;User Id=sa;Password=Welcome123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>